<button class="btn btn-primary mb-2" (click)="openDialog()">Add project</button>

<dialog #dialogCreate class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button
                class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
                (click)="closeModal()"
            >
                ✕
            </button>
        </form>
        <h3 class="text-lg font-bold">Hello!</h3>
        <p class="py-4">Press ESC key or click on ✕ button to close</p>
    </div>
</dialog>
