@if (project$ | async; as project) {
    <h2>{{ project?.name }}</h2>
    @if (project?.description) {
        <p>{{ project.description }}</p>
    }
    <!-- Crear prototip -->
    <dialog-prototype #dialogPro [mode]="'create'" [project]="project"></dialog-prototype>
    <button class="btn btn-primary mb-2" (click)="dialogPro.openDialog()">Add prototype</button>
} @else {
    <h2>Carregant projecte...</h2>
}

@if (prototypes$ | async; as prototypes) {
    @if (prototypes.length === 0) {
        <p>No hi ha prototips.</p>
    } @else {
        @for (proto of prototypes; track proto.id) {
            <prototype-card [proto]="proto"></prototype-card>
        }
    }
} @else {
    <h2>Carregant prototips...</h2>
}
