@if (project$ | async; as project) {
    <h2>{{ project?.name }}</h2>
    @if (project?.description) {
        <p>{{ project.description }}</p>
    }
    <dialog-prototype #dialogRef [mode]="'create'" [project]="project"></dialog-prototype>
    <button class="btn btn-primary mb-2" (click)="dialogRef.openDialog()">Add prototype</button>
} @else {
    <h2>Carregant projecte...</h2>
}
<div class="p-6 relative">
    <div class="flex justify-between items-center mb-6">

@if (paginatedData$ | async; as paginated) {
    @if (paginated.data.length === 0) {
        <p>No hi ha prototips.</p>
    } @else {
        @for (proto of paginated.data; track proto.id) {
            <prototype-card [proto]="proto"></prototype-card>
        }
    </div>
</div>

@if (paginatedData$ | async; as paginated) {
    <pagination
        [currentPage]="(currentPage$ | async) ?? 1"
        [totalPages]="paginated.totalPages"
        [total]="paginated.total"
        [limit]="paginated.limit"
        (pageChange)="onPageChange($event)"
    ></pagination>
}

@if (paginatedData$ | async; as paginated) {
    <pagination
        [currentPage]="(currentPage$ | async) ?? 1"
        [totalPages]="paginated.totalPages"
        [total]="paginated.total"
        [limit]="paginated.limit"
        (pageChange)="onPageChange($event)"
    ></pagination>
}
